/*
    Color Scheme:
    - #0D2127
    - #0F3E39
    - #265B40
    - #5CA36F
    - #C0DE88

    Fonts:
    - Tilt Warp Regular 400 (For titles and headings)
    - Lato Regular 400 (for anything else)

    CSS statement for fonts:
    - font-family: 'Lato', sans-serif;
    - font-family: 'Tilt Warp', cursive;
*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container {
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
}

.img-right {
    float: right;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 2px;
    margin: 10px 0 10px 20px;
}

.img-left {
    float: left;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 2px;
    margin: 10px 20px 10px 0;
}

.img-center {
    display: block;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 2px;
    margin: 20px auto;
}

/*  --------------- Responsive Images -----------------  */

img {
    max-width: 100%;
}

/*  --------------- Tables -----------------  */

table {
    width: 100%;
    border: 5px solid #265B40;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

table caption {
    font-weight: bold;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
    font-size: x-large;
    margin: 10px;
    color: #265B40;
}

table tr {
    background-color: rgba(192, 222, 136, 0.3);
    transition: 0.4s;
}

table tr:nth-child(even) {
    background-color: rgba(92, 163, 111, 0.3);
}

table tr:hover {
    font-size: xx-large;
}

table th {
    background-color: #265B40;
    color: #fff;
    padding: 10px;
    text-shadow: 1px 1px 5px #000;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

table td {
    border: 1px solid #265B40;
    padding: 5px;
    text-align: right;
    width: 33%;
}

td:nth-child(1) {
    text-align: left;
}

/*  --------------- Lists -----------------  */

ol {
    list-style-type: lower-roman;
}

/*
li {
    this would target all list items
}
*/

ul li > ul {
    list-style-type:square;
}

/*
dl {
    this would target the entire list
}
*/

dt {
    font-weight:bold;
}

dd {
    margin:0;
}
  
dd + dt{
    margin-top:20px;
}

/*  --------------- Global Styles -----------------  */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header.primary {
    background-color: #0F3E39;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23c0c0c0' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
    color: #fff;
    padding: 20px 40px;
    text-shadow: 1px 1px 5px #000;
}

header.primary h1 {
    font-size: 2.5rem;
    margin: 20px 0 10px;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

header.primary h1 a {
    color: #fff;
    text-decoration: none;
}

header.primary h2 {
    font-size: 1.4rem;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

header.primary nav {
    max-width: 960px;
    margin: 20px auto;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

header.primary nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
header.primary nav ul li {
    list-style-type: none;
}

header.primary nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    transition: 0.4s;
}

header.primary nav ul li a:hover,
header.primary nav ul li a:active {
    border: 10px solid rgba(255, 255, 255, 0.7);
    box-shadow: 4px 8px rgba(0, 0, 0, 5);
}

#intro {
    border-bottom: 2px dotted #c0c0c0;
    padding-bottom: 14px;
}

#intro h2 {
    color: #265B40;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
    border-bottom: 2px dotted #c0c0c0;
}

#content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    border-bottom: 2px dotted #c0c0c0;
    padding-bottom:2.6rem;
}

#content article.post {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 0.4s;
}
  
#content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

article.post figure {
    margin: 0;
}

time.post-date,
figcaption,
.post-meta {
    text-transform: uppercase;
    color: #c0c0c0;
}

.post figure img {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 2px;
}

article.post a {
    color: #265B40;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

article.post a:hover {
    text-decoration: none;
}

#practice h2 {
    color: #265B40;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
    border-bottom: 2px dotted #c0c0c0;
}

#practice h3 {
    color: #265B40;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

#practice h4 {
    color: #265B40;
    font-family: 'Tilt Warp', cursive;
    font-weight: 300;
}

#practice blockquote {
    border: 4px double #fff;
    margin: 40px 80px;
    padding: 20px 40px;
    border-radius: 30px 0;
    background-color: #265B40;
    color: #fff;
    line-height: 1.8;
    text-shadow: 1px 1px 5px #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

#practice blockquote:hover {
    font-size: x-large;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 8px 16px rgba(0, 0, 0, 0.7);
}
  
#practice blockquote cite {
    display: block;
    font-size: .7rem;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

aside[role="complementary"] {
    background-color: #265B40;
    color: #fff;
    padding: 1.9rem;
    text-shadow: 1px 1px 5px #000;
}

aside .container {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

aside .widget a:last-of-type {
    display: block;
    text-align: right;
    padding-top: 20px;
    color: #fff;
}

aside .widget a:hover {
    text-decoration: none;
}

aside .widget footer {
    display: none;
}

#colophon {
    background-color: #0F3E39;
}
  
#colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
}


/*  --------------- Media Queries -----------------  */

@media screen and (max-width: 600px) {
    header.primary nav ul {
        flex-direction: column;
        max-width: 250px;
        margin: auto;
    }
    header.primary nav a {
        display: block;
    }
    header.primary nav li {
        margin-bottom: 10px;
    }
}